<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>C++ Debugging Exercise</title>
    <link rel="stylesheet" href="style/app.css" />
    <!-- codemirror -->
    <script src="ext/codemirror-5.45.0/lib/codemirror.js"></script>
    <link rel="stylesheet" href="ext/codemirror-5.45.0/lib/codemirror.css" />
    <script src="ext/codemirror-5.45.0/mode/clike/clike.js"></script>
    <style>.CodeMirror { font-size: 16px; }</style>
  </head>
  <body>
    <header>
      <h1>{{ part.name | escape }} - {{ step.name | escape }}</h1>
    </header>

    <div class="row" id="program">
      <textarea id="cpp-code">{{ part.program | escape }}</textarea>
    </div>

    <div class="row" id="instructions">
      <h2>Instructions</h2>
      {{ step.instructions | escape }}
    </div>

    {%- if step.kind in ['Intro'] %}
    <div class="row">
      <form action="{{ step.uid }}/next" method="post">
        <input class="button" type="submit" value="Next" />
      </form>
    </div>
    {%- endif %}


    {%- if step.kind in ['Question'] %}
    <div class="row">
      <section id="student-input">
      <h1>{{ step.question | escape }}</h1>
      <form action="{{ step.uid }}/answer" method="post">
        <textarea>Enter your idea here....</textarea>
        <input class="button" type="submit" value="Submit" />
      </form>
      </section>
      <section id="student-responses">
      <h1>Other students' responses:</h1>
      <div>"It should do ..."</div>
      <div>"The program will print out ..."</div>
      <div>"I expect to see ..."</div>
      <form action="{{ step.uid }}/next" method="post">
        <input class="button" type="submit" value="Next" disabled="true" />
      </form>
      </section>
    </div>
    {%- endif %}
<!--

    <div class="row">
    <nav>
    {% for s in part.steps %}
      <a class="{{ "active" if s[1] == step.uid else "" }}" href="#">{{ s[0] }}</a>
    {% endfor %}
    </nav>
    <section id="instruction">
      <h1>Instructions</h1>
      {{ step.instructions }}
    </section>
    </div>
    <div class="row">
      <section id="student-input">
      <h1>What do you think the program output will be?</h1>
      <form action="#">
        <textarea>Enter your idea here....</textarea>
        <input class="button" type="submit" value="Submit" />
      </form>
      </section>
      <section id="student-responses">
      <h1>Other students' responses:</h1>
      <div>"It should do ..."</div>
      <div>"The program will print out ..."</div>
      <div>"I expect to see ..."</div>
      <form action="#">
        <input class="button" type="submit" value="Next" disabled="true" />
      </form>
      </section>
    </div>

    <div class="row tabs">
      <form>
      <input id="tab1" type="radio" name="tabs" checked="true" onchange="tab(this)"/>
      <label for="tab1">main.c</label>
      <input id="tab2" type="radio" name="tabs" onchange="tab(this)"/>
      <label for="tab2">Makefile</label>
      </form>
      <div id="content1" class="content">
        <textarea id="c-code">{{ part.program }}</textarea>
      </div>
      <div id="content2" class="content">
        <textarea id="makefile">{{ part.makefile }}</textarea>
      </div>
    </div>

    <div class="row tabs">
      <form>
      <input id="tab3" type="radio" name="tabs" checked="true" onchange="tab(this)"/>
      <label for="tab3">Compiler Output</label>
      <input id="tab4" type="radio" name="tabs" onchange="tab(this)"/>
      <label for="tab4">Program Output</label>
      </form>
      <div id="content3" class="content">
        <div id="compiler-out" class="output">compiling stuff...</div>
      </div>
      <div id="content4" class="content">
        <div id="program-out" class="output">hello world.....</div>
      </div>
    </div>

-->
  <!-- checkout https://codemirror.net/mode/clike/ -->
  <script>
    var myCodeMirror = CodeMirror.fromTextArea(document.getElementById("cpp-code"), {
      mode:  "text/x-c++src",
      lineNumbers: true,
      matchBrackets: true,
    {% if step.kind in ['Modify'] -%}
      readOnly: false,
    {% else -%}
      readOnly: true,
    {%- endif %}
      identUnit: 4
    });
    var mac = CodeMirror.keyMap.default == CodeMirror.keyMap.macDefault;
    CodeMirror.keyMap.default[(mac ? "Cmd" : "Ctrl") + "-Space"] = "autocomplete";

    // tab switch function
    function tab(el) {
      var name = "content" + el.id.slice(-1)
      var row = el.parentElement.parentElement;
      row.childNodes.forEach(function(node){
        if(node.tagName == "DIV") {
          if(node.id == name) { node.style.display = "block"; }
          else { node.style.display = "none"; }
        }
      });
    }
    // hide all tabs
    document.querySelectorAll(".tabs div.content").forEach(function(node) {
      node.style.display = "none";
    });
    // display main
    tab(document.getElementById("tab1"));
    tab(document.getElementById("tab3"));

  </script>
  </body>
</html>
